<% include _header %>

<h1>You’re a hop away from
    your next GP visit</h1>

<h2>mediHopper provides a flexible queue system. 
    You are now in control of your appointment time.</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form action="/search" method="post">
            <input name="postcode" type="text" class="form-control"
            placeholder="e.g. 3000">
            <input type="submit" value="Find" class="btn btn-primary">
        </form>
    </div>
</div>

<% include _footer %>