<% include _header %>

<br>

<h1>You’re only a hop away from
    your next GP visit</h1>

<br>

<h2>mediHopper provides a flexible queue system. 
    You are now in control of your appointment time.</h2>

<h2>Hop into the queue that suits you best. If your plans change,
    simply hop out, or hop back a few positions.</h2>

    <br><br>
    <p>Please start by entering your postcode below to see the 
        clinics near you.</p>

        <form action="/clinic/search" method="post">
            <table class="table">
                <tr>
                    <td>Postcode:</td>
                    <td><input name="postcode" type="text" class="form-control"
                        placeholder="e.g. 3000"></td>
                    <td><input type="submit" value="Find" class="btn btn-primary"></td>
                </tr>
                
                
            </table>
        </form>


<% include _footer %>