<% include _header %>

<h1>MediHopper</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <form action="/search" method="post">
            <input name="postcode" type="text" class="form-control"
            placeholder="e.g. 3000">
            <input type="submit" value="Find" class="btn btn-primary">
        </form>
    </div>
</div>

<% include _footer %>