

body{ 
  background-color: #333333;
}
 
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 100px;
}

nav {
  margin-bottom:50px;
}

.container {
  margin: 0 auto;
  margin-inline-end: 0px;
  width: 100%;
}

h1 {
  color: white;
  -webkit-text-fill-color: #333333; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: white;
  font-size: 100pt;
  transform: translate(-5%, -5%);
  margin-bottom: 80px;
}

li#about-nav {
  border: 1px dotted rgb(128, 165, 41);
  color:whitesmoke;
  background-color: none;
}

.card{
	padding: 5px;
}

p.logo {
  color:#75d147;
}

div#redblock {
  background-color: red;
}

div#greenblock {
  background-color: #8da84d;
  border-left: 5px solid red;
}

div#red-border {
  /*
    border: 1px solid rgb(233, 24, 24);
  */
}

div#green-border {
  /*
    border: 1px solid rgb(74, 199, 74);
  */
}

div#blue-border {
  border: 1px solid rgb(33, 115, 197);
}

div#title {
  vertical-align: top;
  
}