@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Dosis:wght@200;300;400&family=Raleway:wght@100;200;300;400&display=swap');

h1 {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 50pt;
  color: #7BBB54;
  padding-top: 5%;
  padding-bottom: 2%;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 20pt;
  color: #7BBB54;
}

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 12pt;
  color: #3e3b46;
  background-image: url('/abstract-wave.png'), url('/grasshopper.png');
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, fixed;
  background-position: left top, right bottom;
  background-size: 40%, 7.5%;
}

.navbox, .navbar {
  background-color: #7BBB54;
  margin-top: 3%;
  padding-left: 2%;
}

a {
  
}

a:link {
  
}
/*
a:visited {
  color: rgb(132, 73, 158);
}
*/

.row {
  padding-bottom: 5%;
}

.nav > li > a {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  background-color: #7BBB54;
  color: rgb(215, 230, 230);
}

.nav > li > a:hover {
  background-color: #7BBB54;
  color: white;
}

a:active {
  background-color: hotpink;
}

.table > tbody > tr > th, .table > tbody > tr > td {
  border-top: none;
}


.btn-primary, a.nav-link {
  color: #fff;
  background-color: #7BBB54;
  border-color: #ffffff;
}

.menu {
  border: 1px white solid;
}

.btn-primary:hover, a.nav-link:hover {
  color: #fff;
  background-color: #91cf6b;
  border-color: #ffffff;
}

a.nav-link.headerlink {
  color: rgb(223, 223, 223);
  background-color: #7BBB54;
}

a.nav-link.headerlink:hover {
  color: rgb(255, 255, 255);
  background-color: #7BBB54;
}

.card {
  padding-top: 2%;
  padding-bottom: 2%;
}

.profile, .login {
  border: rgb(122, 122, 122) 1px solid;
}

td {
  padding-bottom: 2%;
}

.form-control:focus {
  border-color: #7BBB54;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(43, 122, 6, 0.6);
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
